<!DOCTYPE html>

<html lang="en">

<head>

 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

 

</head>

<br/>

<br/>

<div class="container">



<div ng-app="myApp" ng-controller="formCtrl">

  <form novalidate class="form-group">

    Name : <br>

    <input type="text" class="form-control" ng-model="user.firstName"><br>

    <br>

    You are a :

 <input type="radio" ng-disabled="Organizer.length > 0" class="radio-inline" ng-model="user.role" value="Organizer">Organizer

 <input type="radio" class="radio-inline" ng-model="user.role" value="Player">Player

    <br><br>

    <button class="form-control" ng-show='Organizer.length > 0' ng-click="submit()">Submit</button>

 <button class="form-control" ng-hide='Organizer.length > 0' ng-click="submit()">Submit</button>

  </form>

 

  <br />

  <br />

  <br />

 

 <table class="table table-striped">

    <thead>

      <tr>

        <th>Name</th>

        <th>Score</th>

      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="(key, val) in players">

        <td>{{ key }}</td>

        <td>{{ val }}</td>

      </tr>

    </tbody>

  </table>

  <br/>

  <div>Organizer is {{Organizer}}</div>

</div>



<script>

var app = angular.module('myApp', []);

app.controller('formCtrl', function($scope, $http) {

 $scope.user ={};

 $scope.Organizer ='';

 $scope.players ={};
 
 var url = 'https://sleepy-headland-26434.herokuapp.com/' //'http://localhost:3000/'

    $scope.submit = function() {

        $http.post(url + 'initGame', $scope.user)

   .then(

       function(response){

         // success callback

   console.log(response)

         //$scope.user.role=(response.data.organizer == $scope.user.firstName)? 'Organizer' : 'Player';

   $scope.players = response.data.players;

   $scope.Organizer=response.data.organizer;

       },

       function(response){

         // failure callback

   console.log(response)

       }

    );

    };

 $scope.init = function() {

        $http.get(url)

   .then(

       function(response){

         $scope.players = response.data.players;

   $scope.Organizer=response.data.organizer;

       },

       function(response){

         // failure callback

   console.log(response)

       }

    );

    };

 $scope.init();

});

</script>



</body>

</html>

